/**
 * @yugrinov.ru
 */
 @media (min-width: 640px) {
  .header-wrapper .container .row:first-child{height: 180px; display: flex; align-items: center}
  .header-wrapper .container .row > div{display: inline-flex}
}

@media (min-width: 992px) {
  .path-frontpage .wide-line-first-wrapper{height:117px; border: 3px solid #2b2a29;}
}

@media (max-width: 1440px) {
  .cart{width:50%;}
}

@media (max-width: 1199px) {
  #block-pervyybloknaglavnoystranice .field--name-body div:last-child .title{margin-top: 36px}
}

@media (max-width: 992px) {
  .cart{width:70%;}
  #block-bloknaglavnoyfranshizabezotkrytiyayuridicheskogolica .field--name-body div:last-child div{display: none;}
  #block-bloknashipreimuschestvanaglavnoystranice .field--name-body .intro-block-overlay{margin-bottom: 24px;}
  .flexed.three-rule{display: none;}
  .wide-line-first-wrapper, .wide-line-second-wrapper, .wide-line-third-wrapper, .wide-line-fourth-wrapper{margin-top: 0}
  .path-frontpage .wide-line-first-wrapper{margin-bottom: 0}
}

@media (max-width: 762px) {
  .checkout-page.d-flex{display: inherit !important;}
  .checkout-page.d-flex .nav-tabs--left{padding: 0; margin: 0;}
  .checkout-page.d-flex .nav-tabs--left li{width:30%; display: inline-block;}
  .checkout-page .tab-content{margin-top: 24px;}
  .constructor{}
  .constructor .design-preview{float: none; width: 100%;}
  .constructor .design-preview .version{width: 25%; display: inline-block;}
  .constructor .design-edit{margin: 0;}
  .checkout.checkout__add-payment{width: 100%;}
  .region-navigation nav{text-align: right; width: 60%;}
  ul.menu.menu--main.navbar-nav{margin: 5px 35px 0 0}
  #block-rosreklama-main-menu i{margin: 0; position: absolute; top:16px; right:10px}
  ul.menu.menu--main.navbar-nav li{display: inline-block;}
}

@media (max-width: 639px) {
  .header-wrapper .col-xs-12{text-align: center}
  .navbar-brand {margin-left: 0}
  .header-wrapper{height: auto}
  .header-wrapper__branding{height: auto; margin: 24px 0}
  .header-wrapper__left{margin-top:14px}
  .header-wrapper__right{margin-bottom: 14px}
}

@media (max-width: 560px) {
  .cart{width:98%;}
}
