.node-form h4{color:#000; font-weight: normal;}
.node-form fieldset:not(.fieldgroup) > legend{font-weight: normal;}
.field--name-field-contact-person .form-item{float:left; width:30%; margin-right: 2%;}
.field--name-field-work-time .field--name-field-day{float:left; width:20%; margin-right: 2%;}
.field--name-field-work-time .field--name-field-work-time{float: left; width: 68%;}
.field--name-field-work-time .field--name-field-work-time .form-type-time{float: left; width: 20%;}
