/**
 * yugrinov.ru
 */

/*
 * Others.
 */
html, body{height: 100%; color:#000; font-family: 'Bebas Neue'; font-size: 14px; line-height: 1.2em; font-weight: 300; letter-spacing: 1px}
html, body{background: #fff; margin: 0; padding: 0;}
.upper-back{background: #1f1b20; height: 24px;}
header.navbar{height: 60px; margin-bottom: 0;}
i:hover{color: #0a0e48}
.user-anonymous.path-user .main-container{display: flex; justify-content: center; align-content: space-between; align-items: center; flex-direction: column;}
.dialog-off-canvas-main-canvas{height: 100%; background: #fff}
.path-user .user-forms{max-width: 420px; padding: 12px 28px 28px; margin: 0 auto; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.1);}
.navbar.navbar-default.container{padding: 0; min-height: auto}
.navbar-header{min-height: 1px; width:100%; float: none;}
.navbar-default{background: none; border: none;}
.navbar-nav{float: none; text-align: center;}
.navbar-nav > li{display: inline-block; float: none;}
header.navbar{height: auto;}
.navbar-default .navbar-nav > li > a{font-size: 19px; color: #000; font-weight: 400; padding-top: 16px; padding-bottom: 10px;}
.navbar-default .navbar-nav > li > a:hover{color: #000}
nav.tabs{margin-bottom: 24px;}
.captcha.panel{border: none;}
.captcha .panel-heading{display: none;}
.captcha .panel-body{padding: 0;}
button.form-submit{margin-top: 24px;}
.user-forms h3{margin-bottom: 24px;}
.user-forms a{color:#8C96A9; display: block;}
.user-forms a:hover, .user-forms a:focus{color:#434C5E; text-decoration: none;}
.user-forms .info{display: none;}
a.password-toggle{font-size: 12px;}
.user-forms .form-control{border: 1px solid #D4D9E2; border-radius: 3px; padding: 13px; font-size: 14px; color: #596377; outline: 0; -webkit-transition: border-color .2s ease; -o-transition: border-color .2s ease; transition: border-color .2s ease; height: auto}
.path-user .user-forms .btn-primary{padding:10px 12px; width: 100%; margin-top: 18px;}
.row.baloon-body{margin-left: 0;}
#block-rosreklama-main-menu i{font-size: 18px; position: absolute; right: 0; top: 12px;}
#block-rosreklama-main-menu i:hover{cursor: pointer}
.cart{position: fixed; right: 0; top: 0; width: 33%; height:100%; background:#fff; overflow-y: scroll}
.cart.close{display:none}
.toolbar-fixed.cart{top:39px; height: calc(100% - 39px);}
.toolbar-fixed.toolbar-tray-open .cart{top:78px; height: calc(100% - 78px);}
.cart__wrapper{padding: 20px 30px}
.cart__wrapper i{font-size: 18px;}
.cart__wrapper i:hover{cursor: pointer;}
.cart__wrapper a{color: #030415}
.cart__wrapper a:hover{color: #0a0e48}
.cart__header{margin-top: 14px;}
.cart__header i.fa-user{margin-right: 14px;}
.cart__header .block-user-login-block ul{display: none;}
.cart__header .user-forms h3{display: none;}
.cart__header .user-forms .info{display: block; font-size:18px; margin-bottom: 20px;}

.baloon-header{font-size:16px; margin: 7px 0}
.baloon-body{}
.baloon-body__image-info{color:#555}
.baloon-footer{margin-top:14px; color: #555}
.baloon-footer__book{margin-bottom: 14px; color:#fff; }

.gmProReg{font-family: "GothamProRegular"; line-height: 1.3em}


.block-rosreklama-cart-line-items{margin-top: 24px;}
.cart-line-items{}
.cart-line-items__title{font-size: 18px; border-bottom: 1px solid #eee ;padding-bottom: 9px;}
.cart-line-items__line-item-title{margin: 24px 0 10px 0; font-weight: bold}
.cart-line-items__bottom{margin-top: 36px;}
.cart-line-items .remove{position: relative;}
.cart-line-items .remove i{position: absolute; top:-32px; right:0}
.book-start{float: left; margin-right: 28px;}
.book-start label, .book-prices .fieldset-legend, .book-prices legend, .book-prices input{display: none;}
.book-prices label{width: 96%; display: inline-block; padding: 6px 12px; margin-bottom: 0; font-weight: normal; line-height: 1.42857143; text-align: left; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 1px solid transparent; border-radius: 4px; background-color: #f8f9fa; border-color: #f8f9fa;}
.book-prices label:hover, .book-prices label:focus, .book-prices label.active{color: #212529; background-color: #e2e6ea; border-color: #dae0e5;}
.book-description{color:#777; font-size:12px; clear: both; padding-top: 7px;}
.alert-primary{color: #004085; background-color: #cce5ff; border-color: #b8daff;}
#cart-line-items__form-wrapper .alert-primary{margin-top: 14px; margin-bottom: 14px;}
#cart-line-items__form-wrapper button.form-submit{margin-top: 0;}
#cart-line-items__form-wrapper .remove label{display: none;}
.input-daterange.input-group .element-wrapper{float: left; width:49%; position: relative;}
.input-daterange.input-group .element-wrapper input{width:100%; text-align: left;}
.input-daterange.input-group .element-wrapper span.input-group-addon{position: absolute; right: 1px; z-index: 9; top: 1px; height: 32px; width: 38px; border: none}
.input-daterange.input-group .element-wrapper span.input-group-addon .glyphicon{opacity: 0.9}
.input-daterange.input-group .element-wrapper:last-child{display: none; margin-left: 2%;}
.filled .input-daterange.input-group .element-wrapper:last-child{display: block}
.path-checkout i.fa-shopping-cart{display: none;}

.nav-tabs--vertical{border-bottom: none; border-right: 1px solid #ddd; display: flex; flex-flow: column nowrap;}
.nav-tabs--left {margin: 0 15px;}
.nav-tabs--left .nav-item + .nav-item {margin-top: .25rem;}
.nav-tabs--left .nav-link {transition: border-color .125s ease-in; white-space: nowrap;}
.nav-tabs--left .nav-link:hover {background-color: #f7f7f7; border-color: transparent;}
.nav-tabs--left .nav-link.active {border-bottom-color: #ddd; border-right-color: #fff; border-bottom-left-radius: 0.25rem; border-top-right-radius: 0; margin-right: -1px;}
.nav-tabs--left .nav-link.active:hover {background-color: #fff; border-color: #0275d8 #fff #0275d8 #0275d8;}
.flex-row {-webkit-box-orient: horizontal !important; -webkit-box-direction: normal !important; -webkit-flex-direction: row !important; -ms-flex-direction: row !important; flex-direction: row !important;}
.d-flex {display: -webkit-box !important; display: -webkit-flex !important; display: -ms-flexbox !important; display: flex !important;}
.tab-content{width: 100%;}
/*.tab-content .tab-pane{position: absolute; top:0}*/
.tab-content > .tab-pane.show{display: none !important;}
.tab-content > .tab-pane.show.active{display: block !important;}
.tab-pane.fade.active{opacity: 1}
.nav-tabs.nav-tabs--vertical > li.active > a,
.nav-tabs.nav-tabs--vertical > li.active > a:hover,
.nav-tabs.nav-tabs--vertical > li.active > a:focus{border-right: none; margin-right: 0;}

.checkout__total-wrapper{text-align: right;}
.checkout__total-wrapper .checkout__total-title{margin-bottom: 7px; text-decoration:underline}
.checkout__total-wrapper .total{margin-top: 7px; font-weight: bold;}
.tab-pane__content,
.tab-pane__line-items span{margin-top: 12px; font-weight: bold}
#service-place-map{margin-top: 24px;}
.services .title{margin: 7px 0 0 0; font-weight: bold;}
.services .list{text-transform: lowercase;}
.constructor{margin-top: 24px;}
.constructor .design-preview{float: left; width:200px}
.constructor .design-preview .title{margin-bottom: 17px; font-weight: normal; margin-left: 3%;}
.constructor .design-preview .version{width: 94%; margin-left: 3%; margin-bottom: 17px; cursor: pointer;}
.constructor .design-edit{margin-left:200px; min-height: 400px;}
.constructor .design-edit input,
.constructor .design-edit textarea{background:none !important; width:75%; margin-left: 12.5%; box-sizing: border-box; padding: 0.3em 0.4em 0.3em 0.5em; max-width: 100%; border: 1px solid #000; border-top-color: #000; border-radius: 2px; background: #fcfcfa; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125); font-size: 1em; color: #000; -webkit-transition: border linear 0.2s, box-shadow linear 0.2s; transition: border linear 0.2s, box-shadow linear 0.2s; font-weight: normal; font-weight: normal;}
.constructor .design-edit input:focus,
.constructor .design-edit textarea:focus{border-color: #68A3CF; outline: 2px solid #C1E0FF; outline-offset: 0px; color: #000;}
.constructor .design-edit input{margin: 40px 0 80px 12.5%}
.checkout.checkout__add-payment{margin-top: 18px; text-align: right; width:20%; float: right;}
.checkout.checkout__add-payment .form-text{margin-bottom: 14px;}
.user-balance{margin-top: 24px;}
.user-balance .title{text-decoration: underline;}
.checkout.checkout__add-payment .btn{margin-top: 0;}

.header-wrapper{background: url('../pics/header-background.png') #fff repeat-x 24px 0; height: 180px}
.header-wrapper__left a,
.header-wrapper__right a{display: inline-block; background: #1f1b20; color: #fff; font-size: 20px; padding: 9px 18px 4px; width: 160px; text-align: center}
.header-wrapper__left a:hover, .header-wrapper__right a:hover,
.header-wrapper__left a:focus, .header-wrapper__right a:focus{text-decoration: none}
.header-wrapper__branding{background: #fff; height: 180px; align-items: center}
.header-wrapper__branding .region.region-branding{width: 224px; margin: 0 auto}
.region.region-header-left,
.region.region-header-right{margin: 0 auto}
.navbar-brand{float: none; height: auto; padding: 0; line-height: 1.2em}
a.name.navbar-brand{font-weight:600; font-size: 52px;}
a.name.navbar-brand .white-part{background: #fff; color: #000}
a.name.navbar-brand .black-part{background: #000; color: #fff; padding: 10px 10px 2px 0}
.navigation-wrapper{background: #f5e400; margin-bottom: 50px;}

.title{text-align: center; font-weight: 400; font-size: 24px; margin-bottom: 13px; line-height:24px}
.intro-block .content{text-align: center; height: 298px; border: 1px solid #2b2a29; position: relative;}
.intro-block .content:before{content: ""; border: 50px solid transparent;	border-top: 50px solid #000;}
.intro-block .content::before, .intro-block .content::after {
  content: '';
  position: absolute;
  left: calc(50% - 5px); top: -1px;
  border: 25px solid transparent;
  border-top: 25px solid #000;
 }
 .intro-block .content::after {
  border-top: 25px solid #fff;
  top: -1px;
 }

.wide-line-first-wrapper,
.wide-line-second-wrapper,
.wide-line-third-wrapper,
.wide-line-fourth-wrapper{margin: 90px 0; position: relative;}

.path-frontpage .wide-line-third-wrapper{margin-bottom: 0;}
.path-frontpage .wide-line-first-wrapper{margin-top: 120px;}
.path-frontpage .wide-line-first-wrapper .title{position: absolute; top: -46px;}
.path-frontpage .wide-line-fourth-wrapper{margin-top: 0; padding-top: 90px;}
.path-frontpage .wide-line-fourth-wrapper:before{content: ''; background: url('../pics/letters.png') repeat; position: absolute; width: 48%; top:0; left:0; height: 100%; background-size: contain}
.path-frontpage .wide-line-fourth-wrapper:after{content: ''; background: url('../pics/stripes.png') repeat; position: absolute; width: 48%; top:0; right:0; height: 100%; background-size: contain; z-index: 1}
.path-frontpage .wide-line-fourth-wrapper .container{position: relative; z-index: 2}
.flexed{display: flex; align-items: center; justify-content: center;}
.top-line{font-size: 100px; font-weight: 600; text-align: center; line-height: 60px}
.bottom-line{font-size: 30px; font-weight: 400; text-align: center; line-height: 30px}
.intro-block-overlay{position: relative; top: -5px; background: #fff; padding-bottom: 0px; padding-top: 29px;}

.path-frontpage .wide-line-second-wrapper .top-line{font-size: 26px; text-decoration: underline;}
.path-frontpage .wide-line-second-wrapper .bottom-line i{font-size: 14px; color: #888; position: relative; top: -5px}
.path-frontpage .wide-line-second-wrapper .middle-line{color: #FB1218; text-align: center; font-size: 24px; font-weight: 400; margin: 9px 0 24px 0;}
.path-frontpage .wide-line-second-wrapper .bottom-line{font-size: 20px; font-weight: 300; line-height: 26px}
.path-frontpage .wide-line-second-wrapper .col-lg-3.intro-block{border: 5px solid #09C0FC; border-radius: 12px; height: auto; padding: 4px; margin-top: 36px;}
.path-frontpage .wide-line-second-wrapper .col-lg-3.intro-block .border-wrapper{height: 100%}
.round{color: #474747; font-weight:600; font-size:56px; line-height:56px; border: 2px solid #474747; width: 60px; height: 60px; border-radius: 50%; text-align: center; padding-top: 6px;}
.three-rule .title{font-size: 34px; line-height: 34px; color: #474747; margin: 0 24px; padding-top: 10px;}

.path-frontpage .wide-line-third-wrapper{background: #201B21; padding: 24px 0 40px;}
.rocket-img{background: url('../pics/rr-rocket.png') no-repeat; background-size: contain; width: 48px; height: 90px; margin: 0 auto;}
.rocket .top-line{font-size: 30px; color: #fff; font-weight: 400}
.rocket .buy a{display: block; background: #F5E400; font-size: 22px; font-weight: 400; line-height: 22px; color: #000; padding: 12px 24px 4px; width: 290px; margin: 0 auto;}
.rocket .buy a:hover{text-decoration: none;}
.countdown-wrapper.is-countdown{min-height: 50px; padding-top: 10px; border: none; background: #F5E400; margin: 36px auto 0 auto; width: 210px;}

.ad .title{text-decoration: underline; margin-bottom: 24px; text-align: left}
.fr .title{text-decoration: underline; margin-bottom: 24px; color: #FB1218; text-align: left}
.suggest{color: #474747; font-size:22px; font-weight: 400; line-height: 22px; margin-bottom: 44px}
.fr .suggest{margin-bottom: 22px;}
.ad .icon, .fr .icon{width: 32px; height: 32px; background-size: contain; position: absolute;}
.icon-1{background: url('/themes/custom/rosreklama/pics/ic1.png') no-repeat 0 0; top: 37px; right: 0}
.icon-2{background: url('/themes/custom/rosreklama/pics/ic2.png') no-repeat 0 0; top: -13px; right: 0}
.icon-3{background: url('/themes/custom/rosreklama/pics/ic3.png') no-repeat 0 0; top: -8px; right: 0}
.icon-4{background: url('/themes/custom/rosreklama/pics/ic4.png') no-repeat 0 0; top: 1px; right: 0}
.icon-5{background: url('/themes/custom/rosreklama/pics/ic5.png') no-repeat 0 0; top: 37px; right: 0}
.icon-6{background: url('/themes/custom/rosreklama/pics/ic6.png') no-repeat 0 0; top: -7px; right: 0}
.icon-7{background: url('/themes/custom/rosreklama/pics/ic7.png') no-repeat 0 0; top: -8px; right: 0}
.icon-8{background: url('/themes/custom/rosreklama/pics/ic8.png') no-repeat 0 0; top: 2px; right: 0}
.icon-9{background: url('/themes/custom/rosreklama/pics/ic9.png') no-repeat 0 0; top: 0; right: 0}
.icon-10{background: url('/themes/custom/rosreklama/pics/irb1.png') no-repeat 0 0; top: 0; right: 0}
.icon-11{background: url('/themes/custom/rosreklama/pics/irb2.png') no-repeat 0 0; top: 0; right: 0}
.icon-12{background: url('/themes/custom/rosreklama/pics/irb3.png') no-repeat 0 0; top: 0; right: 0}
.icon-13{background: url('/themes/custom/rosreklama/pics/irb4.png') no-repeat 0 0; top: 0; right: 0}
.icon-14{background: url('/themes/custom/rosreklama/pics/irb5.png') no-repeat 0 0; top: -11px; right: 0}
.red{color: #FB1218}
.blue{color: #09C0FC}
.fs46{font-size: 46px}
.fw600{font-weight: 600}
.lh44{line-height: 44px;}

footer{background: #201B21; color: #fff}
.region.region-footer{clear: both; text-align: center; font-size:12px; font-weight:400; padding: 14px 0;}
footer a{color: #fff}
footer .nav > li > a{padding: 7px 0}
footer .nav > li > a:hover, footer .nav > li > a:focus{background: none; color:#fff;}
.footer-logo{background: url('../pics/logo-footer.png') no-repeat; background-size: contain; width:50px; height: 50px; width: 117px; height: 74px; margin: 0 auto}

.jobs h3{margin-top:0}
.jobs .row{margin-bottom: 48px }

/*
 * Toolbar.
 */
.adminimal.toolbar-fixed.toolbar-vertical{padding-top:32px!important}
.toolbar .toolbar-tray-vertical a,.toolbar .toolbar-tray-horizontal .menu-item,.menu-item a{transition:all,.2s}
.toolbar .toolbar-bar{box-shadow:none;background-color:#1D1D1D}
.toolbar .toolbar-menu{background:#333}
.toolbar .toolbar-menu .level-2{background:rgba(255,255,255,0.1)}
.toolbar .toolbar-menu .level-3{background:rgba(255,255,255,0.2)}
.toolbar .toolbar-tray-vertical{border:none;box-shadow:none}
.toolbar-tray a{color:#bbb}
.toolbar .toolbar-bar .toolbar-tab>.toolbar-item{font-weight:600}
.toolbar .toolbar-bar .toolbar-item{color:#BEBEBE}
.toolbar .toolbar-bar .toolbar-tab>.toolbar-item:hover{background-image:none;background-color:#2D2D2D;color:#fff;text-decoration:none}
.toolbar .toolbar-bar .toolbar-tab>.toolbar-item.is-active,.toolbar .toolbar-bar .toolbar-tab>.toolbar-item:focus{background-image:none;background-color:#333;text-decoration:none}
.toolbar .toolbar-tray-horizontal .menu-item+.menu-item,[dir="rtl"] .toolbar .toolbar-tray-horizontal .menu-item+.menu-item,.toolbar .toolbar-tray-horizontal .menu-item:last-child{border-left:none;border-right:none}
.toolbar .toolbar-tray .menu-item--active-trail>.toolbar-box a,.toolbar .toolbar-tray a.is-active{color:#fff;text-decoration:none;font-weight:500}
.toolbar .toolbar-tray-horizontal ul li.menu-item{border:none}
.toolbar .toolbar-tray-horizontal ul li.menu-item a:hover{text-decoration:none}
.toolbar-tray-horizontal .menu-item--expanded,.toolbar-tray.toolbar-tray-horizontal .menu-item--expanded a{background:#333}
.toolbar a.is-active,.toolbar .toolbar-menu .toolbar-menu a.is-active{background:#0071b8;color:#fff}
.toolbar a.is-active:hover,.toolbar .toolbar-menu .toolbar-menu a.is-active:hover{background:#0071b8;color:#fff}
.toolbar .menu-item+.menu-item{border:0 none}
.toolbar .toolbar-tray{background-color:#333;box-shadow:-2px 2px 12px rgba(0,0,0,0.85)}
.toolbar .toolbar-tray-horizontal{border-bottom:0;box-shadow:none}
.toolbar .toolbar-toggle-orientation{background-color:#333}
.toolbar .toolbar-icon.toolbar-handle:focus{background-color:transparent}
.toolbar .toolbar-icon.toolbar-handle:before{background-image:url(/themes/contrib/adminimal_theme/images/chevron-disc-down.svg)}
.toolbar .toolbar-icon.toolbar-handle:hover:before{background-image:url(/themes/contrib/adminimal_theme/images/chevron-disc-down-hover.svg)}
.toolbar .toolbar-icon.toolbar-handle.open:before{background-image:url(/themes/contrib/adminimal_theme/images/chevron-disc-up.svg)}
.toolbar .toolbar-menu .toolbar-menu a{color:#bbb}
.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle:before{background-image:url(/themes/contrib/adminimal_theme/images/chevron-disc-down.svg)}
.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle:hover:before{background-image:url(/themes/contrib/adminimal_theme/images/chevron-disc-down-hover.svg)}
.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle.open:before{background-image:url(/themes/contrib/adminimal_theme/images/chevron-disc-up.svg)}
.toolbar-tray-horizontal a:focus,.toolbar-box a:focus{background:transparent}
.toolbar .toolbar-tray-horizontal .toolbar-menu .toolbar-menu .toolbar-handle{display:inherit}
.toolbar-tray-horizontal ul ul li.menu-item:first-child{border-top:1px solid #555}
.toolbar .toolbar-menu a{color:#BBB}
.toolbar .toolbar-menu a:hover{background-color:#555;color:#fff;text-decoration:none}
.toolbar .toolbar-menu ul ul{border:none}
.toolbar .toolbar-tray-horizontal .toolbar-toggle-orientation{border:none}
.adminimal-theme .location .form-item input.form-checkbox{width:16px;display:inline-block}
input[type=checkbox]#edit-delete{margin-bottom:0}
input[type=radio]{border-radius:50%}
input[type=checkbox]:hover,input[type=checkbox]:focus,input[type=radio]:hover,input[type=radio]:focus{border-color:#0074BD;cursor:pointer}
input[type=checkbox]#edit-delete:hover,input[type=checkbox]#edit-delete:focus{border-color:#D01616;cursor:pointer}
input[type=checkbox]:checked,input[type=checkbox]:disabled:checked,input[type=radio]:checked,input[type=radio]:disabled:checked{background:#0074BD;box-shadow:inset 0 0 0 3px #fff}
input[type=checkbox]#edit-delete:checked,input[type=checkbox]#edit-delete:disabled:checked{background:#D01616;box-shadow:inset 0 0 0 3px #fff}
input[type=checkbox]:disabled,input[type=radio]:disabled{opacity:.5;background:#E2E2E2}
input[type=checkbox]#edit-delete:disabled{opacity:.5;background:#E88181}
input[type=checkbox]:disabled:hover{border-color:#B5B5B5;cursor:default}
input[type=checkbox]:disabled:hover,input[type=radio]:disabled:hover{border-color:#B5B5B5;cursor:default}
.dropbutton-single .dropbutton-action a{border-radius:0!important;background-image:none;background:#F5F5F2}
.ui-dialog .ui-dialog-titlebar{border-radius:0;background:#333}
.ui-dialog .ui-widget-content.ui-dialog-buttonpane{border-radius:0}
.ui-dialog .ui-dialog-titlebar,.ui-dialog{outline:none}
.ui-dialog{box-shadow:0 10px 20px rgba(0,0,0,0.3)}
.ui-button-icon-only.ui-dialog-titlebar-close.ui-state-active,.ui-button-icon-only.ui-dialog-titlebar-close.ui-widget-content .ui-state-active{background:transparent;border-color:transparent;color:transparent}
.ui-dialog .ui-dialog-titlebar-close{opacity:.5;transition:all,.2s}
.ui-dialog .ui-dialog-titlebar-close:hover{opacity:1}
.messages{margin:1rem 0;border-width:1px 0;border-radius:0;background-color:transparent;box-shadow:none;background-size:1.3rem;background-position:5px 50%}
.messages--error{border-color:#E32700}
.messages--warning{border-color:#E29700}
.messages--status{border-color:#73B355}
.cke_top,.cke_bottom{background:#F7F7F7;background-image:none;box-shadow:none}
.filter-wrapper{background:#F7F7F7}
.cke_ltr .cke_button:first-child,.cke_rtl .cke_button:last-child,.cke_toolgroup{border-radius:0}
.toolbar-icon-system-admin-content:active:before,.toolbar-icon-system-admin-content.is-active:before{background-image:url(/core/themes/stable/images/core/icons/787878/file.svg)}
.toolbar-icon-system-admin-structure:active:before,.toolbar-icon-system-admin-structure.is-active:before{background-image:url(/core/themes/stable/images/core/icons/787878/orgchart.svg)}
.toolbar-icon-system-themes-page:active:before,.toolbar-icon-system-themes-page.is-active:before{background-image:url(/core/themes/stable/images/core/icons/787878/paintbrush.svg)}
.toolbar-icon-entity-user-collection:active:before,.toolbar-icon-entity-user-collection.is-active:before{background-image:url(/core/themes/stable/images/core/icons/787878/people.svg)}
.toolbar-icon-system-modules-list:active:before,.toolbar-icon-system-modules-list.is-active:before{background-image:url(/core/themes/stable/images/core/icons/787878/puzzlepiece.svg)}
.toolbar-icon-system-admin-config:active:before,.toolbar-icon-system-admin-config.is-active:before{background-image:url(/core/themes/stable/images/core/icons/787878/wrench.svg)}
.toolbar-icon-system-admin-reports:active:before,.toolbar-icon-system-admin-reports.is-active:before{background-image:url(/core/themes/stable/images/core/icons/787878/barchart.svg)}
.toolbar-icon-help-main:active:before,.toolbar-icon-help-main.is-active:before{background-image:url(/core/themes/stable/images/core/icons/787878/questionmark-disc.svg)}
.adminimal.path-batch .layout-container{padding-top:1.3rem}
.bg-grey{background: #F6F6F7}
a.s1 icon{background: url('../pics/ir1.png') 0 0 no-repeat; display: block; width: 108px; height: 108px; background-size: cover !important; margin: 0 auto}
a.s2 icon{background: url('../pics/ir2.png') 0 0 no-repeat; display: block; width: 108px; height: 108px; background-size: cover !important; margin: 0 auto}
a.s3 icon{background: url('../pics/ir3.png') 0 0 no-repeat; display: block; width: 108px; height: 108px; background-size: cover !important; margin: 0 auto}
a.s4 icon{background: url('../pics/ir4.png') 0 0 no-repeat; display: block; width: 108px; height: 108px; background-size: cover !important; margin: 0 auto}
a.s5 icon{background: url('../pics/ir5.png') 0 0 no-repeat; display: block; width: 108px; height: 108px; background-size: cover !important; margin: 0 auto}
a.s6 icon{background: url('../pics/ir6.png') 0 0 no-repeat; display: block; width: 108px; height: 108px; background-size: cover !important; margin: 0 auto}
a.s7 icon{background: url('../pics/ir7.png') 0 0 no-repeat; display: block; width: 108px; height: 108px; background-size: cover !important; margin: 0 auto}
a.ir{display: block;}
a.ir span{font-size: 18px; font-weight: 400; color: #000; display: block; margin: 12px 24px}
a.ir:hover{text-decoration: none;}
.block-full-width.bg-grey{margin: 72px 0 36px; padding: 36px 0 24px 0;}
.s5.ir{position: relative; left: 95px}
.s7.ir{position: relative; left: -95px}
.blue-line{margin-bottom: 48px}
.blue-line .title{background: #09C0FC; line-height: 20px}
.blue-line .title span{background: #fff; position: relative; top: 2px; padding: 0 10px}
.irbox{background: url('../pics/box-home.png') 0 0 no-repeat; float: right; width: 229px; height: 262px; background-size: contain}
.box-cover{background: url('../pics/box_kr.png') no-repeat; background-size: contain; width: 229px; height: 292px; float: right;}
p.point{font-size: 22px; padding-bottom: 12px}
#homemap{height:500px}
.weird-image{width: 50%; margin-left:25%; height: 400px; text-align: center; margin-top: 62px}
.weird-image img{width: 100%; max-width:100%; height: auto;}
.tg{font-size: 16px}
.tg th{text-align: center; border: 1px solid #ccc; padding: 8px}
.tg td{padding: 8px; border: 1px solid #ccc}
#s3{margin-top: 48px}
#s4{margin: 72px 0 36px}
#s4 .icon-1{top:0}
#s4 .title{margin-bottom: 24px}
/* content */
.map-block-inside{background: url('../pics/map.png') no-repeat; background-size: cover}
#block-shapkasprava .field--name-body a{cursor: pointer}
#block-zakazatzvonok{display:none; position: fixed; z-index: 99; top: 30%; background: #fff; border: 1px solid #ccc; padding: 25px 14px 5px 14px; left: calc(50% - 180px); box-shadow: 0 0 10px rgba(0,0,0,0.5);}
#block-zakazatzvonok.active{display: block;}
#block-zakazatzvonok .form-submit{margin-top: 10px; padding-top: 8px;}
#block-zakazatzvonok h2{font-size: 18px; margin:0 0 14px 0}
#block-zakazatzvonok .icons.form-type-processed-text{text-align: right; position: absolute; right: 0; top: -35px; font-size: 18px; cursor: pointer}
.user-anonymous #block-zakazatzvonok .icons.form-type-processed-text{top: 25px; right: 15px}
.franchise .icon-5{top: -11px}
table.gmProReg td{border: 1px solid #ccc; padding: 7px 9px}
.content.map-block-inside{cursor: pointer;}
.field{margin-bottom: 7px}
.field.field--name-field-status{clear: both}
.field.field--name-field-order-line-item > .field--item{margin: 32px 0}
.btn-order{margin-top: 24px}
.modal-backdrop{z-index: 9}
.ui-dialog .ui-dialog-titlebar{background: #f5e400}
.modal-header{border: none}
.modal-content{border: none}
.modal {text-align: center;}
.modal-title{color: #000}
.ui-dialog .ui-dialog-titlebar-close {outline: none}
.normal-text {font-family: "GothamProRegular"; line-height: 1.5em; color: #000}
.pay-img{width:120px}
footer a:hover, footer a:focus{color: #fff}
.delimeter {display: inline-block; margin: 0 5px}
#homemap .row{max-width: 600px}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
