<div class="checkout-complete checkout-complete__wrapper">
  {% if status == 'complete' %}
    Ваш заказ оформлен. <br/>
    Тут еще надо написать про уведомления и личный кабинет. <br/>
  {% else %}
    При оформлении заказа возникли ошибки. Свяжитесь с технической поддержкой.<br/>
  {% endif %}
  <a href="/">На главную</a><br/>
  <a href="/user">В личный кабинет</a>
</div>
