<div class="checkout-page d-flex flex-row mt-2">
  <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" role="navigation">
    {% for key, type in type_of_prices %}
      <li class="nav-item{% if loop.index == 1 %} active {% endif %}">
        <a href="#{{ key }}" class="nav-link{% if loop.index == 1 %} active {% endif %}" data-toggle="tab" role="tab" aria-controls="{{ key }}">{{ type }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for key, type in type_of_prices %}
      <div class="tab-pane fade{% if loop.index == 1 %} active show{% endif %}" id="{{ key }}" role="tabpanel">
        <div class="tab-pane__line-items">
          <span>Информация о заказе</span>
          {% for item in line_items[key] %}
            <div class="tab-pane__title">{{ item.address_string }}</div>
            <div class="tab-pane__booking-data">{{ 'Date of booking:'|t }} {{ 'from'|t }} {{ item.booking_data.formatted_start }} {{ 'to'|t }} {{ item.booking_data.formatted_end }}</div>
            <div class="tab-pane__amount">{{ 'Price per period'|t }}: {{ item.prices[key].value }} руб.</div>
            <div class="tab-pane__periods">{{ 'Period qty.'|t }}: {{ item.amount.periods }}</div>
            <div class="tab-pane__sub-total">{{ 'Subtotal'|t }}: {{ item.prices[key].value * item.amount.periods }} руб.</div>
          {% endfor %}
        </div>
        <div class="tab-pane__content">
          {% if key == 'base_price' %}
            карта где отмечены точки приема печатной продукции и текст помощи о том, что это и зачем
            <div id="service-place-map" style="width: 100%; height: 400px;"></div>
          {% endif %}
          {% if key == 'base_price_plus' %}
            выбор разных вариантов оформления печатной продукции
            <div class="base-plus__constructor-wrapper">
              <div class="constructor">
                <div class="design-preview">
                  <div class="title">Выберите фон:</div>
                  <div class="version"><img src="/themes/custom/rosreklama/imgtemp/1.jpg" alt="" title="" class="img-fluid img-thumbnail" /></div>
                  <div class="version"><img src="/themes/custom/rosreklama/imgtemp/2.jpg" alt="" title="" class="img-fluid img-thumbnail" /></div>
                  <div class="version"><img src="/themes/custom/rosreklama/imgtemp/3.jpg" alt="" title="" class="img-fluid img-thumbnail" /></div>
                </div>
                <div class="design-edit hidden">
                  <input type="text" name="design-edit-title" id ="design-edit-title" placeholder="Заголовок" data-toggle="tooltip" data-original-title="Введите заголовок" data-placement="bottom" data-trigger="manual">
                  <br/>
                  <textarea name="design-edit-text" rows="10" id ="design-edit-text" placeholder="Содержимое" data-toggle="tooltip" data-original-title="Введите текст" data-placement="bottom" data-trigger="manual"></textarea>
                </div>
              </div>
            </div>
          {% endif %}
          {% if key == 'inclusive_price' %}
            сообщение о том, что в ближайшее время с клиентом свяжется менеджер и все решит
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="checkout checkout__total-wrapper">
  <div class="checkout__total-title">{{ 'Your order'|t }}:</div>

  {% set totalAmount = "" %}

  {% for type, amount in total_amounts %}
    {% if type != 'total' %}
      <div class="{{ type }}">{{ amount.title }}: {{ amount.total_amount }} руб.</div>
    {% else %}
      {% set totalAmount = amount %}
      <div class="{{ type }}" data-commerce-total="{{ amount }}">{{ 'Total'|t }}: {{ amount }} руб.</div>
    {% endif %}
  {% endfor %}

  <div class="user-balance"><span class="title">Ваш баланс:</span> <span class="balance">{{ user_balance.balance }}</span></div>
  {% if user_balance.balance is same as(0) or user_balance.balance < totalAmount %}
    <div class="checkout checkout__add-payment">
      <input class="form-text form-control hidden " type="text" id="add-payment" name="add-payment" value="" size="60" maxlength="60" data-toggle="tooltip" data-placement="top"  placeholder="Сумма" data-original-title="Введите сумму пополнения">
      <button class="button form-submit btn-primary btn add-payment" value="Перейти к оплате">Пополнить баланс</button>
    </div>
  {% else %}
    <button class="button form-submit btn-primary btn proceed-checkout" value="Перейти к оплате">Оформить заказ</button>
  {% endif %}
</div>

