<div class="login-form login-form__wrapper user-forms">
  <form{{ attributes }}>
    <div class="login-form__top">
      <h3>{{ 'Forgot your password?'|t }}</h3>
      <div id="error_messages"></div>
      {{ element.messages }}
      {{ element.name }}
      <div class="login-form__help_actions">
        <div class="row">
          <div class="col-sm-6">
            <a href="/user/login" class="user-login">{{ 'Sign in'|t }}</a>
          </div>
          <div class="col-sm-6 text-right">
            <a href="/user/register" class="user-register">{{ 'Sign up'|t }}</a>
          </div>
        </div>
      </div>
      {{ element.form_build_id }}
      {{ element.form_id }}
      <div class="login-form__submit">
        {{ element.actions.submit }}
      </div>
    </div>
  </form>
</div>
