<div class="login-form login-form__wrapper user-forms">
  <form{{ attributes }}>
    <div class="login-form__top">
      <h3>{{ 'Sign up'|t }}</h3>
      <div id="error_messages"></div>
      {{ element.messages }}
      {{ element.account.mail }}
      <div class="hidden">{{ element.account.name }}</div>
      <div class="login-form__help_actions">
        <div class="row">
          <div class="col-sm-6">
            <a href="/user/login" class="user-login">{{ 'Sign in'|t }}</a>
          </div>
          <div class="col-sm-6 text-right">
            <a href="/user/password" class="forgot-password">{{ 'Forgot password?'|t }}</a>
          </div>
        </div>
      </div>
      <br/>
      <div class="text-center">Нажимая на кнопку "Регистрация" я даю согласие на<a href="#" data-toggle="modal" data-target="#callModalR">обработку персональных данных</a></div>
      <div class="modal fade" id="callModalR" tabindex="-1" role="dialog" aria-labelledby="callModalRTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h4>
              </div>
              <div class="modal-body">
              <span class="normal-text">
                Мы не собираем личную информацию о Вас, когда Вы заходите на наш сайт. Вы можете анонимно просматривать сайт. Тем не менее, Ваш браузер все же автоматически сообщает нам тип компьютера и операционной системы, которые Вы используете. Единственная личная информация о Вас, которую мы получаем, это те данные, которые Вы добровольно предоставляете при заполнении форм. При заполнении форм на сайте у Вас запросят персональную информацию, такую как имя, номер телефона. Предоставление такой информации в ответ на запрос осуществляется Вами исключительно добровольно. Предоставленная Вами информация используется чтобы оказать те услуги, которые Вы сами запрашиваете.
              </span>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      </div>

      {{ element.form_build_id }}
      {{ element.form_id }}
      <div class="login-form__submit">
        {{ element.actions.submit }}
      </div>
    </div>
  </form>
</div>
