<div class="container jobs">
  {% if data is empty%}
    {{ 'Sorry. No vacancies yet.'|t }}
  {% else %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
      {% for job in data %}

        {%
          set description = {
            '#type':   'processed_text',
            '#text':    job.body.value,
            '#format':  job.body.format,
          }
        %}
        {% if job.field_image[0] is empty %}
          {% set imagepath = '/modules/custom/rosreklama_pages/resources/img/tobeornottobe.jpg' %}
        {% else %}
          {% set imagepath = file_url(job.field_image[0].entity.uri.value) %}
        {% endif %}

        {% if loop.index is odd %}
          <div class="row">
            <div class="col-md-3"><img src="{{ imagepath }}" alt="" title="" /></div>
            <div class="col-md-8">
              <h3>{{ job.label }}</h3>
              {{ description }}
            </div>
          </div>
        {% else %}
          <div class="row">
            <div class="col-md-8">
              <h3>{{ job.label }}</h3>
              {{ description }}
            </div>
            <div class="col-md-3"><img src="{{ imagepath }}" alt="" title="" /></div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
