@font-face {
  font-family: "GothamProRegular";
  src: url("./gothampro/GothamProRegular/GothamProRegular.eot");
  src: url("./gothampro/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("./gothampro/GothamProRegular/GothamProRegular.woff") format("woff"),
  url("./gothampro/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBold";
  src: url("./gothampro/GothamProBold/GothamProBold.eot");
  src: url("./gothampro/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
  url("./gothampro/GothamProBold/GothamProBold.woff") format("woff"),
  url("./gothampro/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBlack";
  src: url("./gothampro/GothamProBlack/GothamProBlack.eot");
  src: url("./gothampro/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
  url("./gothampro/GothamProBlack/GothamProBlack.woff") format("woff"),
  url("./gothampro/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProItalic";
  src: url("./gothampro/GothamProItalic/GothamProItalic.eot");
  src: url("./gothampro/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
  url("./gothampro/GothamProItalic/GothamProItalic.woff") format("woff"),
  url("./gothampro/GothamProItalic/GothamProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProMedium";
  src: url("./gothampro/GothamProMedium/GothamProMedium.eot");
  src: url("./gothampro/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
  url("./gothampro/GothamProMedium/GothamProMedium.woff") format("woff"),
  url("./gothampro/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProLight";
  src: url("./gothampro/GothamProLight/GothamProLight.eot");
  src: url("./gothampro/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
  url("./gothampro/GothamProLight/GothamProLight.woff") format("woff"),
  url("./gothampro/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProMediumItalic";
  src: url("./gothampro/GothamProMediumItalic/GothamProMediumItalic.eot");
  src: url("./gothampro/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
  url("./gothampro/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
  url("./gothampro/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProLightItalic";
  src: url("./gothampro/GothamProLightItalic/GothamProLightItalic.eot");
  src: url("./gothampro/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
  url("./gothampro/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
  url("./gothampro/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBoldItalic";
  src: url("./gothampro/GothamProBoldItalic/GothamProBoldItalic.eot");
  src: url("./gothampro/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("./gothampro/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
  url("./gothampro/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBlackItalic";
  src: url("./gothampro/GothamProBlackItalic/GothamProBlackItalic.eot");
  src: url("./gothampro/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
  url("./gothampro/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
  url("./gothampro/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}